/*Main Tags*/

body {
    background-color:rgb(152, 183, 255);
}
div {
    margin:5px;
}

/*Nav Stuff*/

.NavContainer {
    display:flex;
    flex-direction: row;
    background-color:rgb(78, 123, 227);
    color:black;
    border:3px solid black;
    border-radius: 5px;
    width:80%;
    margin:10px 130px 0px  140px;
}

.NavContainer div {
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  color:black;
}

.NavContainer a{ /*had to use this format in order to style the nav links*/
    color:rgb(194, 213, 255);
}

.NavContainer a:hover {
    color:rgb(241, 245, 255);
}

.container {
    margin:30px;
    padding:30px;
}

.card {
    margin:15px;
}


fieldset {
    margin:10px 130px 0px  140px;
    background-color: rgb(200, 214, 246);
    padding:15px;
    width:80%;
    border:3px solid black;
    border-radius: 15px;

}